@using ParkoviskoCheckingAPP.Data
@using ParkoviskoCheckingAPP.services
@inject CarService _carService

<div class="card card-dark">
    <div class="card-header card-header-dark" style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <button type="button" @onclick="DeleteCar" class="image-button">
                <img src="Images/delete.png" alt="Delete" width="@imgSize" height="@imgSize" />
            </button>
        </div>

        <div style="flex-grow: 1; text-align: center;">
            <h3 style="margin: 0; padding: 0;">@car.Name</h3>
        </div>

        <div>
            <button type="button" @onclick="EditCar" class="image-button">
                <img src="Images/edit.png" alt="Right Image" width="@imgSize" height="@imgSize" />
            </button>
        </div>
    </div>

    <div class="card-body card-body-dark">
        <p><strong>ID:</strong> @car.ID</p>
        <p><strong>Názov:</strong> @car.Name</p>
        <p><strong>EČV:</strong> @car.PlateNumber</p>
        <p><strong>Dátum zmazania:</strong> @car.ExpirationDate</p>
        <p><strong>Popis:</strong> @car.Description</p>
    </div>
</div>

@code {
    private readonly int imgSize = 18;
    [Parameter] public Car car{ get; set; }
    [Parameter] public EventCallback Refresh { get; set; }
    [Parameter] public EventCallback<int> Edit { get; set; }


    async Task EditCar()
    {
        await Edit.InvokeAsync(car.ID);
    }
    async Task DeleteCar()
    {
        await _carService.DeleteCar(car.ID);

        await Refresh.InvokeAsync();
    }
}